.content-section {
  text-align: center;
}

h2,
h3 {
  margin: 1% 0;
}

.App button {
  padding: 10px;
  width: 175px;
  margin: 1% auto;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.App button:hover {
  background-color: rgb(255, 111, 111);
}

@media screen and (max-width: 600px) {
  .App h2,
  h3 {
    margin: 10% 0;
  }
}
