@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

form {
  font-size: 1.1rem;
  text-align: center;
}

form input {
  width: 16%;
  height: 25px;
  margin: 5px 0;
  font-size: 1.05rem;
}

form textarea {
  width: 30%;
  padding: 5px;
}

form button {
  width: 8%;
  height: 35px;
  margin-top: 12px;
  background-color: rgb(44, 44, 240);
  color: white;
  font-size: 1.05rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

form button:hover {
  background-color: rgb(146, 146, 255);
}

@media screen and (max-width: 600px) {
  form input {
    width: 60%;
    height: 35px;
    margin: 10px 0;
    font-size: 1.05rem;
    padding: 1%;
  }

  form button {
    width: 30%;
    height: 45px;
    margin-top: 20px;
    font-size: 1.1rem;
  }

  form textarea {
    width: 77%;
    padding: 5px;
    font-size: 1.05rem;
  }
}
