nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightblue;
  height: 12vh;
  font-size: 1.025rem;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 35%;
}
