nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightblue;
  height: 12vh;
  font-size: 1.025rem;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 35%;
}

nav a {
  color: blue;
}

.logout-button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: lightblue;
  font-size: 1.025rem;
  color: red;
  text-decoration: underline;
}
